.AisCtaColumnView {
  color: white;
  background-color: black;
  height: 100%;
}

.AisCtaColumnView .Row {
  height: 33%;
}

.AisCtaColumnView .BrainImg{
  width: auto;
  height: 25vh;
}

.AisCtaColumnView .ColorBar {
  width: 100%;
  height: 25vh;
}