.AisCtaColumnView, .AisCtaColumnView .Row, .AisCtaColumnView .Col{
  color: white;
  background-color: black;
  height: 100%;
}
.AisCtaColumnView .BrainImg 
{
  height: 100%;
  width: auto;
}
.AisCtaColumnView, .ColorBar
{
  height: 100%;
  width: 100%;
}
/* 
.AisCtaColumnView .BrainImg{
  width: auto;
  height: 100%;
}

.AisCtaColumnView .ColorBar {
  width: 100%;
  height: 100%;
} */