.AisCtaPane {
  height: 100%;
}

.AisCtaPane .Viewer {
  height: 75vh
}

.AisCtaPane .ant-tabs-nav-scroll {
  /*background-color: rgb(51, 74, 132);*/
  color: white;
  display:none;
}

.AisCtaPane .ant-tabs-bottom .ant-tabs-bottom-bar {
  margin-top: 0;
  border-top: 0;
}